@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url('./fonts/roboto.woff') format('woff');
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

html {
  background-color: #eee;
}

body,
select,
input,
input[type=submit],
.button,
.button:visited,
textarea {
  color: #000;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* *,
* *:before,
* *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #FDFFFD;
}

.content {
  max-width: 72em;
  margin-left: auto;
  margin-right: auto;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 0.5em;
  background-color: #6689bd;
  height: 3em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  line-height: 3em;
  color: #fff;
  transform: translateZ(0);
  backface-visibility: hidden;
}

header h3 {
  margin: 0;
}

.accounts-list {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  transition: opacity 0.8s ease-in-out;
  padding: 0 0.5em;
}

.account-list.loading {
  opacity: 0.2;
}

#main {
  margin-top: 3em;
  width: 100%;
  position: relative;
}

.item {
  border-radius: 4px;
  margin: 0.5em auto;
  padding: 1em;
  width: 100%;
  background-color: #fff;
  text-align: left;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#offline {
  background: #ff5b36;
  color: #fff;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
